<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      routerLink="/"
      class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Тут автор</strong>
    <small>19.01.2022</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aliquid asperiores assumenda beatae corporis, cum delectus deleniti deserunt dolore eaque eos, harum hic id in inventore iusto labore minus modi nesciunt nobis non perspiciatis quae quas qui, quisquam ratione repudiandae similique sit sunt tempora tenetur velit veritatis voluptas voluptatum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aliquid asperiores assumenda beatae corporis, cum delectus deleniti deserunt dolore eaque eos, harum hic id in inventore iusto labore minus modi nesciunt nobis non perspiciatis quae quas qui, quisquam ratione repudiandae similique sit sunt tempora tenetur velit veritatis voluptas voluptatum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aliquid asperiores assumenda beatae corporis, cum delectus deleniti deserunt dolore eaque eos, harum hic id in inventore iusto labore minus modi nesciunt nobis non perspiciatis quae quas qui, quisquam ratione repudiandae similique sit sunt tempora tenetur velit veritatis voluptas voluptatum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aliquid asperiores assumenda beatae corporis, cum delectus deleniti deserunt dolore eaque eos, harum hic id in inventore iusto labore minus modi nesciunt nobis non perspiciatis quae quas qui, quisquam ratione repudiandae similique sit sunt tempora tenetur velit veritatis voluptas voluptatum?</p>
  </div>
</div>
